[submodule "infoaid-ui/modules/jquery-timeago"]
	path = infoaid-ui/modules/jquery-timeago
	url = git://github.com/rmm5t/jquery-timeago.git
[submodule "infoaid-ui/modules/jQuery-File-Upload"]
	path = infoaid-ui/modules/jQuery-File-Upload
	url = git://github.com/blueimp/jQuery-File-Upload.git
[submodule "infoaid-ui/modules/jquery-ui"]
	path = infoaid-ui/modules/jquery-ui
	url = https://github.com/jquery/jquery-ui
[submodule "infoaid-ui/modules/ExpandingTextareas"]
	path = infoaid-ui/modules/ExpandingTextareas
	url = git://github.com/bgrins/ExpandingTextareas.git
[submodule "infoaid-ui/modules/colorbox"]
	path = infoaid-ui/modules/colorbox
	url = git://github.com/jackmoore/colorbox.git
[submodule "infoaid-ui/modules/jReject"]
	path = infoaid-ui/modules/jReject
	url = git://github.com/TurnWheel/jReject.git
[submodule "infoaid-ui/modules/ddslick"]
	path = infoaid-ui/modules/ddslick
	url = git://github.com/DoersGuild/ddslick.git
