%div
	.control-group#old-password-div
		%label.control-label{:for => "input-old-password"}
			Old Password

		.controls
			%input#input-old-password(type="password" ng-model="oldPassword" ng-change="change()" name="old-password" placeholder="Old password")
			.help-block Your current password

	.control-group#new-password-div
		%label.control-label{:for => "input-new-password"}
			New Password

		.controls
			%input#input-new-password(type="password" ng-model="newPassword" ng-change="change()" name="new-password" placeholder="New password")

	.control-group#confirm-password-div
		%label.control-label{:for => "input-new-password"}
			Confirm Password

		.controls
			%input#input-confirm-password(type="password" ng-model="confirmPassword" ng-change="change()" name="confirm-new-password" placeholder="Confirm password")