body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.page-lat-lng
{
	margin-top: 5px;
	font-size: 14px;
}

.page-needs
{
	margin-top: 5px;
	font-size: 14px;
}

.page-header
{
	padding-top: 10px;
	background-color: #F2F2F2;
}

.page-header-right
{
	float: left;
}

.page-header-join-leave
{
	float: right;
	margin-right: 100px;
}

.page-picture
{
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

.page-name
{
	font-size: 18px;
}

.page-household-population
{
	margin-top: 5px;
	font-size: 18px;
}

.search-input
{
	margin-left: 10px;
}

.search-header
{
	font-size: 36px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.user-create-header
{
	font-size: 36px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.flash-message-error
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.flash-message-success
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.user-edit-password-header
{
	font-size: 36px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.user-edit-header
{
	font-size: 36px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.page-status-update
{
	float:left;
	margin-left: 10px;
}

.page-sidebar
{
	padding-top: 20px;
	float: left;
	width: 150px;
	min-height: 500px;
}

.page-sidebar-joinus
{
	padding-top: 40px;
}

.page-sidebar-places-header
{
	font-size: 11px;
	font-weight: bold;
}

.ul-list
{
	padding-left: 10px;
}

.left-side-bar
{
	padding-left: 20px;	
	font-size: 13px;
}

.li-place
{
	background: no-repeat url('/infoaid/media/pages/icon_page.png');
	margin-bottom: 10px;
}

.page-sidebar-profile
{
	padding-left: 10px;
}

.page-sidebar-profile-username
{
	padding-left: 2px;
	font-weight: bold;
}

.page-sidebar-menu
{
	margin-top: 20px;
}

.li-feeds
{
	background: no-repeat url('/infoaid/media/icons/new_feeds.png');
}

.li-private-message
{
	background: no-repeat url('/infoaid/media/icons/private_messages.gif');
}

.li-add-group
{
	margin-top: 10px;
	background: no-repeat url('/infoaid/media/icons/add_group.gif');
}

.btn-joinus
{
	margin-left:35px;
}

.page-members
{
	margin: 0px 5px 20px 5px;
	float: left;
	width: 750px;
	margin-left: 0px;
}

.page-members-text
{
	margin-left: 10px;
}

.page-members-pic
{
	float: left;
}

.page-members-menu
{
	padding-left: 10px;
}

.form-group > legend {
	text-indent: 12px;
}

.load-more {
	clear: both;
}

.header-members {
	float: left;
	margin-left: 15px;
}

.show-more-members
{
	font-size: 12px;
	background: no-repeat url('/infoaid/media/icons/show_more_members.jpg');
	padding-left: 20px;
}

.span-page-members
{
	float: left;
	width: 700px;
	margin-left: 0px;
}

.page-member-margin
{
	margin-top: 20px;
}

.expanding, .textareaClone
{
	min-height: 6em;
}