@mixin btn {
	background-color: #AE1724;
	background-image: linear-gradient(to bottom, #E6515E, #AE1724);
	background-image: -webkit-linear-gradient(top, #E6515E, #AE1724);
	background-image: -o-linear-gradient(top, #E6515E, #AE1724);
	background-image: -moz-linear-gradient(top, #E6515E, #AE1724);
	color: white;
	text-shadow: none;
}
h1, h2 {
	margin: 0;
}
h2 {
	padding: 20px;
	margin: 0;
	background-color: #FBF7EE;
}
.error {
	padding: 0 20px 20px;
	background-color: #FBF7EE;
}
.flash-message-error {
	margin: 0;
}
.page-header-join-leave { margin-right: 10px; }
.page-posts {
	list-style: none;
	margin: 10px 0 0;
	padding: 5px;
	// border: 1px solid #eee;
	.ng-pristine {
		width: 380px;
	}
	time {
		color: #999;
		font-size: 12px;
	}

	.meta {
		margin-top: 4px;
		font-size: 12px;
	}
	.message-poster-avatar {
		float: left;
		min-height: 43px;
		min-width: 43px;
		min-height: 43px;
		min-width: 43px;
		// border: 1px solid #ddd;
		// border-radius: 30px;
		margin-right: 0;
		img {			
			width: 50px;
			height: 50px;
			padding: 3px;
			border: 0 none;
			border-radius: 30px;
		}
	}
	.message-details {
		margin-left: 50px;
		padding: 0 0 0 12px;

		.message-body {
			padding: 0;
		}

		.message-picture-preview {
			margin-top: 12px;
		}
	}
	.message-comments {
		padding: 8px 0 18px 62px;
		font-size: 13px;
		.comment-picture {
			float: left;
			img {
				width: 40px;
				height: 40px;
				margin-right: 10px;
				border-radius: 20px;
			}
		}
		.comment-details {
			margin-left: 40px;
			padding: 0 12px;
			.comment-poster-name {
				float: left;
				margin-right: 8px;
				font-weight: bolder;
			}
			.comment-body {
				padding: 0;
				// width: 85%;
				overflow: hidden;
				display: inline;
			}
		}
		.load-more {
			cursor: pointer;
			margin: 4px 0;
		}
	}
	li {
		border-bottom: 1px solid #DDD;
		margin-bottom: 18px;

		&:last-child {
			border-bottom: none;
		}
	}

	ul {
		list-style: none;

		li {
			margin-bottom: 6px;
		}
	}
}
.load-more {
	text-align: center;
}

/*---------------- New Style ----------------*/
body {
	h1 { font-size: 20px; }
	h2 { font-size: 18px; }
	a, .btn-link { color: #AE1725; }
	#footer {
		margin: 0;
		border-top: 1px solid #ccc;
	}
}
.span5 {
	margin: 0;
	width: 480px;
}
.span7 { 
	width: 480px; 
	margin-left: 0;
	padding-right: 20px;
}
.span10 { width: 740px; }
legend {
	margin-bottom: 0px; 
	text-indent: 0 !important;
	font-size: 18px;
}
/*--------- Page ---------*/
#page {
	border: 1px solid #ccc;
}
/*--------- Navigation Bar ---------*/
.nav {
	margin-bottom: 10px;
}
.navbar-inner {
	background: #ae1725;
	a {
		color: white;
	}
}
.navbar {
	.brand {
		color: white;
		text-shadow: none;
	}
	.nav.actions, .nav.pull-right {
		a {
			color: white;
			text-shadow: none;
			padding: 10px 10px 10px;
			&:hover {
				color: #AE1725;
				background-color: white;
			}
		}
		.dropdown {
			&.open {
				a {
					background: white;
					color: #ae1725;
				}
			}
			.dropdown-menu {
				a {
					&:hover {
						background: #AE1725;
						color: white;
					}
				}
			}
		}
	}
	.nav.actions {
		a {
			padding: 10px 15px 10px;
		}
	}
	.navbar-text {
		color: white;
		margin-right: 10px;
	}
	.dropdown {
		a {
			color: #AE1725;
			&:hover {
				color: white;
				background: #AE1725;
			}
		}
	}
}
/*--------- Page Info ---------*/
.page-header {
	background-color: #fbf7ee;
	border-bottom: none;
	.page-household-population, .page-lat-lng {
		margin-top: 0;
		font-size: 14px;
	}
}

.page-name {
	a {
		color: #AE1725;
	}
}
.nav-pills {
	li {
		a { 
			text-shadow: none;
			font-size: 15px;
			color: #AE1725; 
			&:hover {
				color: #AE1725; 
			}
		}
		&.active {
			a {
				border-radius: 13px;
				background-color: #AE1725;
				color: white;
				&:hover {
					background-color: #636363;
				}
			}
		}
	}
}
#s2id_requestPost {
	margin: 0 5px 0 0;
}
#s2id_resourcePost {
	margin: 0 5px 0 0;
}
/*
.page-posts {
	padding: 10px 10px;
	border: 1px solid #eee;
	.ng-pristine {
		width: 380px;
	}
}
*/

/*--------- page-sidebar ---------*/
.page-sidebar {
	* {
		padding: 0;
		margin: 0;
	}
	width: 190px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 0;
	margin-top: 10px;
	#page-sidebar-profile {
		margin-bottom: 10px;
		img {
			margin-right: 10px;
			padding: 5px;
		}
	}
	#page-sidebar-places {
		margin-top: 10px;
		p {
			font-size: 15px;
		}
	}
	#page-sidebar-menu, #page-sidebar-places {
		.left-side-bar {
			padding-left: 20px;
			background-position-y: 2px;
		}
	}
}


.span2 {
	padding: 0 20px;
	border: 1px solid #EEE;
	float: right;
	margin-right: 20px;
	margin-left: 0;
	#members {
		padding: 0 0 10px;
		h2 {
			padding: 0;
			background-color: transparent;
		}
	}
	.show-more-members {
		padding: 0;
		a { padding-left: 17px; }
	}
}

/*--------- page-search ---------*/
.page-search {
	.search-header {
		font-size: 20px;
	}
	.page-header {
		margin: 0 0 2px;
		width: 920px;
		background-color: #fbf7ee;
		border-bottom: none;
		.page-name {
			font-size: 16px;
		}
		.page-household-population {
			font-size: 14px;
		}
	}
}

/*--------- page-login ---------*/
#user-login {
	background-color: #FBF7EE;
	.page-header {
		margin: 0;
		h1 {
			padding: 0 20px;
		}
	}
	.form-actions {
		background: none;
		border-top: none;
		margin: 0;
	}
	.form-horizontal {
		margin: 0;
	}
	.flash-message-error {
		width: 500px;
		padding: 10px 70px;
		margin: 0 0 0 20px;
		text-align: center;
	}
	.btn { padding: 5px 14px; }
}
.btn-primary, .btn-info {
	padding: 9px 14px;
	background-color: #AE1724;
	background-image: linear-gradient(to bottom, #E6515E, #AE1724);
	background-image: -webkit-linear-gradient(top, #E6515E, #AE1724);
	background-image: -o-linear-gradient(top, #E6515E, #AE1724);
	background-image: -moz-linear-gradient(top, #E6515E, #AE1724);
	&:hover, &:active, &.active, &.disabled, &[disabled] {
		background-color: #AE1724;
	}
}
/*--------- Selected need form ---------*/
.select2-results .select2-highlighted {
	background: #AE1725;
}

/*--------- span5: Status Update content ---------*/
.tab-content {
	overflow: hidden;
	.btn-primary, .btn-info {
		padding: 5px 8px;
	}
	#tabInfo {
		#fileupload {
			margin-bottom: 5px;
		}
	}
}

/*--------- span10: Header Info ---------*/
.span10 {
	width: 690px;
}
.load-more {
	margin: 10px 0;
}
/*--------- Input ---------*/
form {
	margin: 0;
}
input, textarea, uneditable {
	&.span2 {
		width: 106px;
		margin-right: 5px;
	}
	&.span5 {
		margin-bottom: 0;
	}
}
/*--------- MAP ---------*/
.flash-message-success {
	margin: 0;
}
/*--------- span3 ---------*/
.span3 {
	background-color: white;
	.nav-list > .active > a, .nav-list > .active > a:hover {
		background-color: #AE1725;
	}
	.nav > li > a:hover {
		background-color: #EED9D9;
		color: #AE1725;
	}
}
/*--------- Edit Account ---------*/
#user-edit {
	background-color: #FBF7EE;
	.page-header {
		margin-bottom: 0;
	}
	.form-horizontal .control-group {
		margin-bottom: 10px;
		.img-polaroid {
			float: left;
		}
		#input-image {
			float: left;
			clear: both;
			margin-top: 10px;
		}
	}
}
#load-more-button {
	margin-top: 10px;
}

/*--------- User Create ---------*/
#user-create {
	padding: 0 20px;
	background-color: #fbf7ee;
	.page-header {
		margin: 0;
	}
	.form-actions {
		background-color: transparent;
		margin-bottom: 0;
	}
	.btn {
		@include btn;
	}
}
/*--------- page-members-body ---------*/
#page-members {
	.header-members { margin: 0 5px 0 0; }
	#showing { line-height: 46px; }
	#page-members-body {
		.span3 { 
			margin: 0;
			width: 340px;
			margin: 0 10px 10px 0;
		}
		.span {
			background-color: transparent;
		}
	}
	.span3 { 
		background-color: transparent;
		img { 
			margin-right: 10px;
		}
		.page-members-text {
			margin: 0 5px 0 0;
		}
	}
}

#page-create {
	background-color: #FBF7EE;
	padding: 0 20px;
	.page-header {
		margin: 0;
		background-color: transparent;
	}
	.form-actions { 
		background-color: transparent;
		margin: 0;
	}
}
hr {
	border: none;
}
.post-form {
	padding: 4px;

	textarea {
		border: none;
		box-shadow: none;
		width: 97%;
	}

	.message-post-form {
		background-color: #FFFFFF;
		border: 1px solid #DDDDDD;
		border-radius: 4px 4px 4px 4px;
		padding: 2px 2px 10px 2px;
		position: relative;

		a.close {
			display: block;
			position: absolute;
			top: 0;
			right: 5px;
			z-index: 9999;
		}

		a.close.hide {
			display: none;
		}
	}

	.upload-form {
		padding: 25px 10px;
		margin-top: -20px;
		margin-bottom: 0;
		border-radius: 4px 4px 4px 4px;
		// background-color: #F7F7F9;
		border: 1px solid #ECECF0;
	}

	.post-button {
		padding: 4px 4px;
		margin-top: -20px;
		margin-bottom: 0;
		border-radius: 4px 4px 4px 4px;
		background-color: #F7F7F9;
		border: 1px solid #ECECF0;
		overflow: hidden;

		button {
			margin: 0;
		}
	}

	#previewImg {
		float: left;
		margin: 5px 10px 5px 5px;
		min-height: 53px;
		min-width: 53px;

		border: 1px solid #ECECF0;
		padding: 3px;
	}

	.expanding, .textareaClone {
		min-height: 3em;
		max-height: 20em;
	}
}/*--------- page-create ---------*/
#page-create {
	#map {
		border: 4px solid white;
	}
}

.message-need {

	.message-card {
		background: none repeat scroll 0 0 #FFFFFF;
		border: 1px solid #DDD;
		border-radius: 3px 3px 3px 3px;
		box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
		padding: 15px;
		margin-left: 0;
		text-rendering: optimizelegibility;

		.message-poster-name {
			font-weight: bolder;
		}

		.message-body {
			margin-top: 12px;

			.item-icon-wrapper {
				float: left;
			}

			.item-quantity {
				color: #C00;
				font-size: 4em;
				font-weight: bolder;
				height: 108px;
				line-height: 1em;
				padding: 10px 10px 10px 148px;
			}
		}
	}

	.item-icon {
		width: 128px;
		height: 128px;
		display: inline-block;
		background-size: cover;
		background-repeat: no-repeat;

		&.item-icon-food {
			background-image: url(../img/icons/items/item-7.png);
		}

		&.item-icon-water {
			background-image: url(../img/icons/items/item-8.png);
		}

		&.item-icon-man {
			background-image: url(../img/icons/items/item-3.png);
		}
	}

}