.page-posts {
  list-style: none;
  margin: 0; }
  .page-posts .message-picture {
    float: left; }
  .page-posts .message-details {
    margin-left: 50px;
    padding: 0 12px; }
    .page-posts .message-details .message-body {
      padding: 12px 0; }
  .page-posts .message-comments {
    margin-left: 62px;
    padding: 8px 0 36px; }
    .page-posts .message-comments .comment-picture {
      float: left; }
    .page-posts .message-comments .comment-details {
      margin-left: 50px;
      padding: 0 12px; }
      .page-posts .message-comments .comment-details .comment-body {
        padding: 8px 0; }
  .page-posts ul {
    list-style: none; }
    .page-posts ul li {
      margin-bottom: 12px; }
