/*
.page-posts {

	list-style: none;
	margin: 0;

	time {
		color: #999;
		font-size: 12px;
	}

	.meta {
		margin-top: 4px;
	}

	.message-picture {
		float: left;

		img {
			width: 50px;
			height: 50px;
		}
	}

	.message-details {
		margin-left: 50px;
		padding: 0 12px;

		.message-body {
			padding: 12px 0;
		}
	}

	.message-comments {
		padding: 8px 0 18px 62px;
		font-size: 13px;

		.comment-picture {
			float: left;

			img {
				width: 40px;
				height: 40px;
			}
		}

		.comment-details {
			margin-left: 40px;
			padding: 0 12px;

			.comment-poster-name {
				float: left;
				margin-right: 8px;
				font-weight: bolder;
			}

			.comment-body {
				padding: 0;
			}
		}

		.load-more {
			cursor: pointer;
			margin: 4px 0;
		}
	}

	li {
		border-bottom: 1px solid #DDD;
		margin-bottom: 18px;
	}

	ul {
		list-style: none;

		li {
			margin-bottom: 6px;
		}
	}
}

.load-more {
	text-align: center;
}
*/

.page-posts {

	list-style: none;
	margin: 0;

	time {
		color: #999;
		font-size: 12px;
	}

	.meta {
		margin-top: 4px;
	}

	.message-picture {
		float: left;

		img {
			width: 50px;
			height: 50px;
		}
	}

	.message-details {
		margin-left: 50px;
		padding: 0 12px;

		.message-body {
			padding: 12px 0;
		}
	}

	.message-comments {
		padding: 8px 0 18px 62px;
		font-size: 13px;

		.comment-picture {
			float: left;

			img {
				width: 40px;
				height: 40px;
			}
		}

		.comment-details {
			margin-left: 40px;
			padding: 0 12px;

			.comment-poster-name {
				float: left;
				margin-right: 8px;
				font-weight: bolder;
			}

			.comment-body {
				padding: 0;
			}
		}

		.load-more {
			cursor: pointer;
			margin: 4px 0;
		}
	}

	li {
		border-bottom: 1px solid #DDD;
		margin-bottom: 18px;
	}

	ul {
		list-style: none;

		li {
			margin-bottom: 6px;
		}
	}
}

.load-more {
	text-align: center;
}

/*---------------- New Style ----------------*/
body {
	h1 { font-size: 20px; }
	h2 { font-size: 18px; }
	a, .btn-link { color: #AE1725; }
}
.span5 {
	margin: 0;
	width: 540px;
}
/*--------- Navigation Bar ---------*/
.navbar-inner {
	background: #ae1725;
	a {
		color: white;
	}
}
.navbar {
	.brand {
		color: white;
		text-shadow: none;
	}
	.nav.actions, .nav.pull-right {
		a {
			color: white;
			text-shadow: none;
			&:hover {
				color: white;
			}
		}
		.dropdown {
			&.open {
				a {
					background: white;
					color: #ae1725;
				}
			}
			.dropdown-menu {
				a {
					&:hover {
						background: #AE1725;
						color: white;
					}
				}
			}
		}
	}
	.navbar-text {
		color: white;
		margin-right: 10px;
	}
	.dropdown {
		a {
			color: #AE1725;
			&:hover {
				color: white;
				background: #AE1725;
			}
		}
	}
}
/*--------- Page Info ---------*/
.page-header {
	background-color: #fbf7ee;
	border-bottom: none;
}

.page-name {
	a {
		color: #AE1725;
	}
}
.nav-pills {
	li {
		a { 
			font-size: 15px;
			color: #AE1725; 
			&:hover {
				color: #AE1725; 
			}
		}
		&.active {
			a {
				border-radius: 13px;
				background-color: #AE1725;
				color: white;
				&:hover {
					background-color: #636363;
				}
			}
		}
	}
}
#s2id_requestPost {
	margin: 0;
}
.page-posts {
	padding: 10px 10px;
	border: 1px solid #eee;
	.message-picture {
		img {
			border: 2px solid #ccc;
			margin-right: 15px;
		}
	}
}

/*--------- page-sidebar ---------*/
.page-sidebar {
	li {
		padding: 0;
	}
	.page-sidebar-places-header {
		p {
			font-size: 15px;
			padding-left: 10px;
		}
	}
}
.span2 {
	padding: 0 20px;
	border: 1px solid #EEE;
	#members {
		padding: 0 0 10px;
	}
	.show-more-members {
		padding: 0;
	}
}

/*--------- page-search ---------*/
.page-search {
	.search-header {
		font-size: 20px;
	}
	.page-header {
		margin: 0 0 2px;
		width: 920px;
		background-color: #fbf7ee;
		border-bottom: none;
		.page-name {
			font-size: 18px;
		}
		.page-household-population {
			font-size: 14px;
		}
	}
}