.user-edit-wrapper {

	padding: 12px;

	.well {
		// max-width: 340px;
		padding: 8px 0;
	}

	header {
		margin: 0 0 12px 0;
		background-color: transparent;

		h1 {
			margin: 0;
		}
	}

}

.user-profile {
	padding-top: 16px;

	.row {
		.span9 {
			width: 680px;
		}
	}

	#page-sidebar {
		margin: 0;
		padding: 8px;
		width: auto;
	}

	.profile-header {
		margin-top: 0;
		padding-top: 0;
	}
}