.message-content
	.message-picture
		%img(src="{{post.picSmall}}")

	.message-details
		.message-poster-name
			%a(href="")
				{{post.createdBy}}
		.message-body
			{{post.message}}

		.meta
			%time.timeago(datetime="{{post.dateCreated}}")
				{{post.dateCreated}}		
			%button.btn.btn-mini.btn-link(ng-click="deletePost(post)" type="button")
				delete

	.clear