.message-content(ng-cloak='')
	.message-poster-avatar
		%a(href="#{Yii::app()->baseUrl.'/user/profile/'}{{post.userId}}")
			%img(src="#{Yii::app()->baseUrl}{{post.userPicSmall}}")
	.message-details
		.message-poster-name
			%a(href="#{Yii::app()->baseUrl.'/user/profile/'}{{post.userId}}")
				{{post.createdBy}}
		.message-body
			{{post.message}}
		.message-picture-preview.img-polaroid(ng-show="post.picOriginal.length")
			%img(src="#{Yii::app()->baseUrl}{{post.picOriginal}}")
		.meta
			%time.timeago(datetime="{{post.dateCreated}}")
				{{post.dateCreated}}
			%span(ng-show="post.canDelete")
				=" - "
				%a(ng-click="deletePost(post)" type="button")
					delete
	.clear