.message-content.message-need(ng-clock='')
	.message-poster-avatar
		%a(href="#{Yii::app()->baseUrl.'/user/profile/'}{{post.userId}}")
			%img(src="#{Yii::app()->baseUrl}{{post.userPicSmall}}")
	.message-details
		.message-poster-name
			%a(href="#{Yii::app()->baseUrl.'/user/profile/'}{{post.userId}}")
				{{post.createdBy}}
			%span.description-phrase
				requests another
				%span.item-quantity
					{{post.quantity}}
				%span.item-name
					{{post.item.name}}
		.message-card
			.message-body
				.item-icon-wrapper
					%i(class="item-icon item-icon-{{post.item.class}}")
				.item-quantity
					%span.quantity-sign +
					{{post.quantity}}
				.clear
		.additionals.hide
			.progress.progress-striped
				.bar.bar-success(style="width:65%")
		.meta
			%time.timeago(datetime="{{post.dateCreated}}")
				{{post.dateCreated}}
			%span(ng-show="post.canDelete")
				=" - "
				%a.button-delete(ng-click="deletePost(post)")
					delete

