.latest-summary
	.summary-number
		.count
			Resource / Request :
			%span.resource-count
				{{post.itemSummary.resource}}
			=' / '
			%span.need-count
				{{post.itemSummary.need}}
		.percent.pull-right
			%span.miss(ng-show="post.itemSummary.percentSupplyPerDemand.toFixed(0) <= 100")
				{{post.itemSummary.percentSupplyPerDemand.toFixed(0)}}%
			%span.over(ng-show="post.itemSummary.percentSupplyPerDemand.toFixed(0) > 100")
				Over {{post.itemSummary.percentSupplyPerDemand.toFixed(0) - 100}}%
		.clear
	.progress.progress-striped
		.bar.bar-success(style="width:{{post.itemSummary.percentSupplyPerDemand}}%")